.signUp_logo_img {
  width: 150px;
  height: 150px;
}

#signUpEnter_btn {
  background-color: rgb(51 0 255);
  color: #ffff;
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin-top: 10px;
}

.signUp_email,
.signUp_password,
.signUp_confirmPw {
  position: relative;
  background-color: #e8f0fe;
  margin-bottom: 30px;
  border-radius: 3px;
  display: flex;
  height: 50px;
}
.signUp_password {
  margin-bottom: 10px;
}

.signUp_name,
.signUp_number {
  position: relative;
  background-color: #e8f0fe;
  margin-top: 10px;
  border-radius: 3px;
  display: flex;
  height: 50px;
}

.signUp_container > div > input {
  background: none;
  width: 100%;
  height: 50px;
  padding: 20px 0 0 10px;
  border: 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

.signUp_container > div > input:focus,
.signUp_container > div > input:valid {
  transition: border-bottom 0.5s ease;
  border-bottom: 2px solid rgb(37, 37, 38);
}

.signUp_container > div > input:focus + label span,
.signUp_container > div > input:valid + label span {
  display: block;
  transform: translateY(-100%);
  transition: all 0.3s ease;
  font-size: 14px;
}

.signUp_container > div > input + label span,
.signUp_container > div > input + label span {
  display: block;
  transition: all 0.3s ease;
  font-size: 20px;
}

.signUp_container > .signUp_userInfo > div > input {
  background: none;
  width: 100%;
  height: 50px;
  padding: 10px 0 0 10px;
  border: 0;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

#signUp_back {
  position: absolute;
  left: 15px;
  top: 0;
}
.signUp_confirmPw_rejcet {
  display: block;
  width: 200px;
  position: absolute;
  left: 400px;
  top: 50px;
}

.signUp_profile_check {
  color: red;
}
