.profile_character {
  display: flex;
  flex-direction: row;
  background-color: #c9d6e9;
  border-radius: 50%;
}
.profile_name,
.profile_number,
.profile_id {
}

.profile_character_current {
  position: relative;
}

.profile_character_edit {
  display: flex;
  flex-wrap: wrap;
}

.profile_character_edit > img {
  display: block;
  object-fit: cover;
}

.profile_character_current > img {
  display: block;
  object-fit: cover;
}

#profileImage_btn {
  position: absolute;
  top: 150px;
  right: 50px;
}

.profile_image {
  background-color: white;
  width: 100px;
  height: 100px;
}

.profile_userInfo {
  color: black;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
}

.profile_edit_btn {
  background-color: rgb(51 0 255);
  color: #ffff;
  width: 100%;
  height: 52px;
  padding: 14px 24px;
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin-top: 10px;
}

.profile_passwordConfirm {
  position: relative;
  background-color: #e8f0fe;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  height: 50px;
}

.profile_passwordConfirm_container > div > input {
  background: none;
  width: 100%;
  height: 50px;
  padding: 20px 0 0 10px;
  border: 0;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
}

.profile_passwordConfirm_container > div > input:focus,
.profile_passwordConfirm_container > div > input:valid {
  transition: border-bottom 0.5s ease;
  border-bottom: 2px solid rgb(37, 37, 38);
}

.profile_passwordConfirm_container > div > input:focus + label span,
.profile_passwordConfirm_container > div > input:valid + label span {
  display: block;
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

.profile_passwordConfirm_container > div > input + label span,
.profile_passwordConfirm_container > div > input + label span {
  display: block;
  transition: all 0.3s ease;
}

#profile_passwordConfirm_back {
  position: absolute;
  top: 0;
  left: 15px;
}

@media (min-width: 320px) {
  .profile_userInfo {
    font-size: 10px;
  }
  .profile_character_current > img {
    width: 40px;
    height: 40px;
  }
  .profile_character {
    width: 40px;
    height: 40px;
  }
  #profile_editBtn {
    font-size: 10px;
  }
}

@media (min-width: 640px) {
  .profile_userInfo {
    font-size: 13px;
  }
  .profile_character_current > img {
    width: 80px;
    height: 80px;
  }
  .profile_character {
    width: 80px;
    height: 80px;
  }
  #profile_editBtn {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .profile_userInfo {
    font-size: 15px;
  }

  .profile_character_current > img {
    width: 100px;
    height: 100px;
  }
  .profile_character {
    width: 100px;
    height: 100px;
  }
  #profile_editBtn {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .profile_userInfo {
    font-size: 20px;
  }

  .profile_character_current > img {
    width: 200px;
    height: 200px;
  }

  .profile_character {
    width: 200px;
    height: 200px;
  }
  #profile_editBtn {
    font-size: 40px;
  }
}
